.card-custom{
    width: 15rem;
    border: none;
    box-shadow: 0 1px 5px rgba(166, 0, 255, 1);
    transition: all 0.3s ease-in-out;
}

.card-custom:hover{
    box-shadow: 0 1px 20px rgba(0, 255, 204, 1);
    transform: scale(1.1);
}